<body style="background-color: #2f3236; color: white;">
  
  <section class="m-5">
    
    <div class="content">
      <h3 class="m-5">{{title}}</h3>
      <p>Overwhelmed by the freelance work? Lost track of your work?</p>
      <p>Use This App!</p>
      <p>{{purpose}}</p>
      <button>Register Here!</button>
      <p class="m-3">Registered Already? <a>Sign in now!</a></p>
    </div>
    <img src="{{img}}" alt="Overwhelmed Image" height="500">
  </section>
</body>
