<body>
      <h1>{{title}}</h1>
  <section class="main-page">
    
    <div class="content">  
      <p>Overwhelmed by the freelance work? Lost track of your work?</p>
      <p>Use This App!</p>
      <p>{{purpose}}</p>

    </div>
    <img src="{{img}}" alt="Overwhelmed Image" height="400">
  </section>
</body>
