<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/bootstrap.min.js" defer></script>
</head>
{{!-- create header --}}
<body class="m-0 p-0">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-white">Freelance Work Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/case">Projects</a>
            </li>
            {{#if user}}
            <li class="nav-item">
              <a class="nav-link text-white" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/register">Register</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>

  <footer class="text-white">
    <p>&copy; Comp 2106 Assignment 3 | Sayaka Ohara</p>
  </footer>

</body>

</html>
